body {
	background-color: lightblue;
}

table {
	margin-left: 2em;
	background-color: white;
	font-size: 13pt;
}

h1 {
	margin-left: 2em;
	font-family: "Trebuchet MS";
	font-size: 26pt;
}

phon {
	font-family: "Times New Roman";
	font-size: 30pt;
	letter-spacing: .2rem;
}

.phon {
	font-family: "Times New Roman";
	font-size: 30pt;
	letter-spacing: .2rem;
}

.descr {
	margin-left: 2em;
	margin-bottom: 2em;
	font-size: 15pt;
	line-height: 1.6;
}

.contents {
	margin-left: 2em;
	font-size: 15pt;
	line-height: 1.6;
}

iframe {
	margin-left: 2em;
	margin-bottom: 2em;
}
